@use './variables' as *;
@use 'sass:color';

*
{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

body
{
    background-color: $bg;  
    color: $text;  
    user-select: none;
    font-size: 19px;
    margin-top: 30px;
    text-align: center;
}

header h2, header p
{
    padding-bottom: 20px;
}

.start
{
    display: none;
    padding: 10px 20px;
    
    form 
    {
        input
        {
            @include input('border-bottom', $primary);
            
            &:focus
            {
                filter: brightness(1.4);
            }
        }
        
        .submit
        {
            @include input('border-bottom', $secondary);
            cursor: pointer;
            transition: filter .2s ease-in-out;
            
            > i
            {
                color: $secondary;
            }
            
            &:hover
            {
                filter: brightness(1.4);
            }
        }
        
        .info
        {
            @extend %info;
        }
    }
}

.task-list
{
    @include container($primary);
    
    @media (max-width: 860px) 
    {
        padding: 10px;
        margin: 30px 10px auto;
        margin-bottom: 20px;
    }

    ul
    {
        list-style-type: none; 
        
        > li
        {
            margin-top: 8px;
            padding: 10px;
            border-radius: 15px;
            background-color: $third;
            text-align: left;
            display: flex;
            justify-content: space-between;

            &:first-child
            {
                margin-top: 0;
            }

            label
            {
                display: flex;
                align-items: center;
                cursor: pointer;
                transition: transform .15s ease-in-out;
                margin-right: 50px;
                word-break: break-word;
                
                &:hover
                {
                    transform: translateX(4px);
                }
                
                input[type='checkbox']
                {
                    appearance: none;
                    border-radius: 50%;
                    width: 20px;
                    height: 20px;
                    margin-right: 10px;
                    color: inherit;
                    border: $border currentColor;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    @media (max-width: 860px) 
                    {
                        width: auto;
                        height: auto;
                    }

                    &::before 
                    {
                        content: "";
                        width: 12px;
                        height: 12px;
                        transform: scale(0);
                        transition: transform .1s ease-in-out;
                        border-radius: 50%;
                    }
                    
                    &:checked::before
                    {
                        transform: scale(1);
                    }
                }
            }

            div.icons
            {
                display: flex;
                gap: 25px;
            }
        }
    }
    
    i.fa-xmark
    {
        color: $red;
        transition: .15s ease-in-out;
        
        &:hover
        {
            color: lighten($red, 20);
            cursor: pointer;
        }
    }
}

.task-form
{
    display: none;
    padding: 20px;
    width: max-content;
    margin: auto;
    
    @media (max-width: 625px) 
    {
        width: 90vw;
    }

    form
    {
        display: flex;

        @media (max-width: 625px) 
        {
            flex-direction: column;
        }

        input
        {
            @include input('border', $secondary);
            background-color: lighten($bg, 2.5);
            border-top-left-radius: 15px;
            border-right: none;
            
            &:focus
            {
                box-shadow: 0px 0px 10px 0px $secondary;
            }

            @media (max-width: 625px) 
            {
                border: $border $secondary;
                border-bottom: none;
                padding: 10px;
            }
        }
        
        select
        {
            @include input('border', $primary);
            background-color: $bg; 
            border-right: none;
            text-align: left;
            padding: 8px;
            
            &:focus
            {
                box-shadow: 0px 0px 10px 0px $primary;
            }

            @media (max-width: 625px) 
            {
                border: $border $primary;
                border-bottom: none;
                padding: 10px;
            }
        }
        
        .task-submit
        {
            @include input('border', $secondary);
            background-color: scale-color($secondary, $alpha: -80%); 
            transition: filter .2s ease-in-out;
            border-bottom-right-radius: 15px;
            color: $secondary;
            padding: 8px 12px;
            
            > i 
            {
                color: $secondary;
            }
            
            &:hover
            {
                cursor: pointer;
                filter: brightness(1.4);
            }
        }
    }

    .task-info
    {
        @extend %info;
    }
}

.help-section
{
    @include container($secondary);
    background-color: $bg;
    margin-bottom: 40px !important;

    @media (max-width: 860px) 
    {
        padding: 10px;
        margin: 30px 10px auto;
        margin-bottom: 20px;
    }
    
    > div:not(:first-child)
    {
        margin-top: 15px;
        padding: 12px 22px;
        background-color: $third;
        border-radius: 15px;

        > h4
        {
            margin: 10px 0 15px 0;
        }

        img
        {
            margin-top: 5px;

            @media (max-width: 860px) 
            {
                width: 100%;    
            }
        }

        p
        {
            display: block;
            margin: 10px 5px;
        }

        .categories-container
        {
            display: flex;
            margin: auto;
            flex-wrap: wrap;
            justify-content: center;
            padding: 10px;

            > div
            {
                margin: 10px;
            }
        }
    }
    
    .close
    {
        text-align: right;
        transition: color .15s ease-in-out;
        color: lighten($red, 45);
        
        &:hover
        {
            color: lighten($red, 55);
            cursor: pointer;
        }
    }
}

footer
{
    color: $gray;
    font-size: 16px;
    margin-bottom: 30px;
    
    div
    {
        display: none;
        margin-top: 10px;
    }
    
    button
    {
        @include input('border-right', $gray);
        color: scale-color($secondary, $alpha: -40%);
        transition: color .15s ease-in-out;
        padding: 0 10px 0 5px;
        
        &:last-child
        {
            border-right: none;
        }
        
        &:hover
        {
            cursor: pointer;
            color: $secondary;
        }
    }

    p
    {
        display: block;
        margin-top: 10px;
    }
}

.finished
{
    text-decoration: line-through;
    color: $gray;
    
    + div > i:not(:last-child)
    {
        color: $gray;
    }
    
    input[type="checkbox"]:before 
    {
        box-shadow: inset 10px 10px $gray;
    }
}

.during 
{
    color: white;
    
    + div > i:not(:last-child)
    {
        @extend .during;
    }
    
    input[type="checkbox"]:before 
    {
        box-shadow: inset 10px 10px $secondary;
    }
}

.display-none{display: none;}
.display-block{display: block;}
.primary-color{color: $primary;}
.secondary-color{color: $secondary;}